.film {
  font-size: 20px;
}

.film_cursor {
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.film_cursor:hover {
  -webkit-transform: scale(120%);
          transform: scale(120%);
  -webkit-box-shadow: 0px 0 20px #ffffff80;
          box-shadow: 0px 0 20px #ffffff80;
}

.film a {
  text-decoration: none;
  color: #fff;
}

.film__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.film__block-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 284px;
          flex: 1 0 284px;
}

.film__img img {
  width: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 298px;
}

.film__grade {
  padding: 20px 0px 0px 0px;
}

.film__genre-user {
  padding: 10px 0px 0px 0px;
}

.film__publicate {
  padding: 10px 0px 0px 0px;
  color: #3E3E3E;
}

.film__block-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 840px;
          flex: 1 0 840px;
}

.film__title {
  font-size: 20px;
}

.film__description-off {
  padding: 40px 0px 0px 0px;
  line-height: 20px;
}

.film__genre-off {
  padding: 40px 0px 0px 0px;
}

.film__rating {
  padding: 10px 0px 0px 0px;
}

.film__date {
  padding: 10px 0px 0px 0px;
}

.film__description-user {
  padding: 40px 0px 0px 0px;
  width: 1125px;
  line-height: 20px;
}

.film__description-user div {
  padding: 0px 0px 10px 0px;
}

.film__buttons {
  padding: 94px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1140px;
}

.film__button {
  cursor: pointer;
}

.modal {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000070;
}

.modal__wrapper {
  width: 500px;
  height: 200px;
  background-color: #363636;
  margin: 0px auto;
  padding: 55px 55px 35px 55px;
  -webkit-transform: translateY(calc(50vh - 50%));
          transform: translateY(calc(50vh - 50%));
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal__text {
  text-align: center;
  line-height: 20px;
  font-size: 20px;
}

.modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 240px;
  margin: 0px auto;
  padding: 39px 0px 0px 0px;
}

.modal__button {
  width: 100px;
  height: 30px;
  border: 1px solid #fff;
  text-align: center;
  padding: 3px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}
