.header__title {
  color: #1C1C1C;
  font-size: 163px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.header__title::after {
  content: 'would look';
  color: #181818;
  display: block;
  position: absolute;
  top: 25px;
  font-size: 163px;
  font-weight: 900;
  text-transform: uppercase;
}

.header__buttons {
  max-width: 940px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__button {
  height: 100px;
  width: 305px;
  background-color: transparent;
  font-weight: 300;
  color: #fff;
  font-size: 18px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
