.seasons__wrapper {
  padding: 30px 0px 0px 0px;
}

.seasons__number {
  padding: 20px 0px 0px 0px;
}

.seasons__series {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px 0px 0px;
}

.seasons__seria {
  position: relative;
}

.seasons__ser {
  border: 2px solid #fff;
  height: 20px;
  width: 40px;
  text-align: center;
  line-height: 20px;
  margin: 0px 10px 0px 0px;
  cursor: pointer;
}

.seasons__hover {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  left: 0px;
  width: 400px;
  background-color: #363636;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  padding: 10px;
  z-index: 1;
}

.seasons__ser:hover + .seasons__hover {
  opacity: 1;
}
