.seasons__wrapper {
  padding: 30px 0px 0px 0px;
}

.seasons__season-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 837px;
  border-bottom: 1px solid #202020;
  padding: 0px 0px 20px 0px;
}

.seasons__number {
  padding: 20px 29px 0px 0px;
}

.seasons__number span {
  cursor: pointer;
}

.seasons__seria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #202020;
  padding: 0px 0px 20px 0px;
}

.seasons__seria div {
  padding: 20px 29px 0px 0px;
  cursor: pointer;
}

.seasons__descr-wrapper {
  padding: 20px 0px 0px 0px;
}

.seasons__descr-wrapper p {
  padding: 0px 0px 20px 0px;
}

.seasons__ser:hover + .seasons__hover {
  opacity: 1;
}
