.form {
   display: flex; 
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 130px 0px 0px 0px;

   &__block {
      max-width: 558px;
      width: 100%;
      display: flex;
      flex-direction: column;
   }

   &__input {
      width: 544px;
      border: none;
      border-bottom: 1px solid #222222;
      background-color: transparent;
      font-size: 20px;
      padding: 0px 0px 14px 0px;
      outline: none;
      color: #fff;
      box-sizing: border-box;
      &::placeholder{
         color: #3B3B3B;
         padding: 0px 0px 0px 10px;

      }
   }

   &__textarea {
      margin: 40px 0px 0px 0px;
      width: 544px;
      resize: none;
      height: 140px;
      background-color: transparent;
      border: 1px solid #222222;
      color: #fff;
      font-size: 20px;
      padding: 10px;
      outline: none;
      box-sizing: border-box;
      &::placeholder{
         color: #3B3B3B;
      }
   }

   &__grade {
      padding: 20px 0px 0px 0px;
      font-size: 20px;
      max-width: 544px;
      display: flex;
      justify-content: space-between;
   }

   &__grade-item {
      width: 40px;
      height: 40px;
      border: 1px solid #202020;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
   }

   &__category {
      padding: 20px 0px 0px 0px;
      display: flex; 
      max-width: 558px;
      width: 100%;
   }

   &__category-item {
      margin: 0px 10px 0px 0px;
   }

   &__button {
      padding: 15px;
      border: 1px solid #222222;
      font-size: 16px;
      cursor: pointer;
   }

   &__genre {
      display: flex;
      flex-wrap: wrap;
   }

   &__category-genre {
      margin: 10px 10px 0px 0px;
   }

   &__reset {
      font-size: 20px;
      text-transform: uppercase;
      background-color: transparent;
      border: none;
      color: #fff;
      margin: 40px 0px 0px 0px;
      align-self: end;
      cursor: pointer;
   }

   &__buttons { 
      padding: 95px 0px 0px 0px;
      max-width: 570px;
      width: 100%;
      margin: 0px auto;
      display: flex;
      justify-content: space-between;
   }

   &__look {
   }

   &__button-end {
      cursor: pointer;
      font-size: 20px;
      background-color: transparent;
      border: 1px solid #202020;
      color: #fff;
      width: 250px;
      height: 60px;
      &:active{
   border: 2px solid #5F5F5F;
      }
   }

   &__view {
   }
}

.grade{
   font-size: 20px;
   padding: 40px 0px 0px 0px;
}

.category{
   font-size: 20px;
}

.genre{
   padding: 40px 0px 10px 0px;
   font-size: 20px;
}

.active__grade{
   background-color: #202020;
}

.active__button{
   background-color: #222222;
}


.modalform{
   position: fixed;
   right: 10px;
   bottom: 10px;
   &__wrapper{
      width: 345px;
      height: 100px;
      background-color: #222222;
      display: flex;
      padding: 10px 0px 0px 10px;
      box-sizing: border-box;
   }

   &__img{
      & img{
         width: 60px;
         height: 80px;
         background-size: contain;
      }
   }

   &__body{
      padding: 0px 0px 0px 10px;
   }

   &__close{
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 13px;
      & span{
         width: 15px;
         height: 1px;
         background-color: #fff;
         display: block;

         &:nth-child(1){
            transform: rotate(45deg);
         }
         &:nth-child(2){
            transform: rotate(-45deg);
         }
      }
   }

   &__tile{
      font-size: 18px;
      padding: 10px 0px 0px 0px;
   }

   &__description{
      padding: 5px 0px 0px 0px;
   }
}