.content {
   padding: 80px 0px 0px 0px;
}
.tabs {
   max-width: 302px;
   width: 100%;
   display: flex;
   justify-content: space-between;

		&__tab {
         font-size: 20px;
         color: #2F2F2F;
         cursor: pointer;
		}
}
.tab {
		&__active {
         color: #fff;
         text-decoration: underline;
		}
}
.filters {
   padding: 29px 0px 0px 0px;
   display: flex;
   font-size: 20px;

   
   & p{
      margin: 0px 50px 0px 0px;
      & span {
         cursor: pointer;
         color: #2F2F2F;
         padding: 0px 0px 0px 10px;
         &::after{
            margin: 0px 0px 0px 10px;
            content: '';
            display: inline-block;
            position: relative;
            top: 7px;
            border: 6px solid transparent; 
            border-top: 10px solid #fff
         }
      }
   }

		&__sort {
         position: relative;
		}

      &__sort-p{
         
      }

		&__sort-list {
         width: 220px;
         position: absolute;
         top: 28px;
         right: 50px;
		}

		&__list {
         background-color: #0C0C0C;
         font-size: 20px;
		}

		&__sort-item {
		}

		&__item {
         & span{
            cursor: pointer;
            color: #fff;
            border-bottom:1px solid #222222 ;
            display: block;
            width: 210px;
            margin: 0px auto;
            padding: 15px 0px 10px 15px;
            box-sizing: border-box;
         }
		}

		&__category {
         position: relative;
		}

		&__category-list {
         width: 220px;
         position: absolute;
         right: 15px;
         top: 28px;
		}

		&__category-item {
		}

		&__genre {
         position: relative;
		}

		&__block {
         width: 423px;
         position: absolute;
         left: 0;
         top: 28px;
         display: flex;
		}

		&__genre-list {
         position: absolute;
         top: 28px;
         font-size: 18px;
         color: #2F2F2F;
         text-align: center;
         width: 220px;
		}

		&__genre-item {
         text-align: left;
         font-size: 20px;
		}
}

.catalog {

		&__items {
         display: flex;
         flex-wrap: wrap;
		}
}
.film {
   max-width: 223px;
   width: 100%;
   margin: 60px 80px 0px 0px;
   &:nth-child(4n){
      margin: 60px 0 0 0 ;
   }
   
		&__img {
         & img {
            width: 223px;
            height: 298px;
            object-fit: contain;
         }
		}

		&__body {
         padding: 15px 0px 25px 21px;
         border-left: 1px solid #222222;
         border-bottom: 1px solid #222222;
         border-right: 1px solid #222222;
		}

		&__title {
         font-size: 20px;
		}

		&__rating {
         padding: 5 px 0px 0px 0px;
         font-size: 16px;
		}
}
