.film {
   font-size: 20px;
   &_cursor{
      cursor: pointer;
      transition-duration: 0.3s;
   &:hover{
      transform: scale(120%);
   box-shadow: 0px 0 20px #ffffff80;
   }
   }
   & a {
      text-decoration: none;
      color: #fff;
   }
   &__block {
      display:flex;
      max-width: 1140px;
      width: 100%;
      justify-content: space-between;
   }

   &__block-left {
      flex: 1 0 284px
   }

   &__img {
      & img{
         width: 223px;
         object-fit: cover;
         height: 298px;
      }
   }

   &__grade {
      padding: 20px 0px 0px 0px;
   }

   &__genre-user {
      padding: 10px 0px 0px 0px;
   }

   &__publicate {
      padding: 10px 0px 0px 0px;
      color: #3E3E3E;
   }

   &__block-right {
      flex: 1 0 840px;
   }

   &__title { 
      font-size: 20px;

   }

   &__description-off {
      padding: 40px 0px 0px 0px;
      line-height: 20px;
   }

   &__genre-off {
      padding: 40px 0px 0px 0px;
   }

   &__rating {
      padding: 10px 0px 0px 0px;
   }

   &__date {
      padding: 10px 0px 0px 0px;
   }

   &__description-user {
      padding: 40px 0px 0px 0px;
      width: 1125px;
      line-height: 20px;
      & div{
         padding: 0px 0px 10px 0px;
      }
   }

   &__buttons {
      padding: 94px 0px 0px 0px;
      display: flex;
      justify-content: space-between;
      width: 1140px;
   }

   &__button {
      cursor: pointer;
   }
}



.modal{
   z-index: 50;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: #00000070;

   &__wrapper{
      width: 500px;
      height: 200px;
      background-color: #363636;
      margin: 0px auto;
      padding: 55px 55px 35px 55px;
      transform: translateY(calc(50vh - 50%));
      box-sizing: border-box;
   }

   &__text{
      text-align: center;
      line-height: 20px;
      font-size: 20px;
   }

   &__buttons{
      display: flex;
      justify-content: space-between;
      width: 240px;
      margin: 0px auto;
      padding: 39px 0px 0px 0px;
   }

   &__button{
      width: 100px;
      height: 30px;
      border: 1px solid #fff;
      text-align: center;
      padding: 3px 0px;
      box-sizing: border-box;
      cursor: pointer;
   }
}

