.seasons{
   &__wrapper{
      padding: 30px 0px 0px 0px;
   }

   &__season{
   }

   &__season-wrapper{
      display: flex;
      flex-wrap: wrap;
      width: 837px;
      border-bottom: 1px solid #202020;
      padding: 0px 0px 20px 0px;
   }

   &__number{
      padding: 20px 29px 0px 0px;
      & span {
         cursor: pointer;
      }
   }

   &__seria{
   display: flex;
   flex-wrap: wrap;
   border-bottom: 1px solid #202020;
   padding: 0px 0px 20px 0px;
   & div{
      padding: 20px 29px 0px 0px;
      cursor: pointer;
   }
   }

   &__descr-wrapper{
      & p{
         padding: 0px 0px 20px 0px;
      }
      padding: 20px 0px 0px 0px;
   }
}

.seasons__ser:hover + .seasons__hover{
   opacity: 1;
}