.seasons{
   &__wrapper{
      padding: 30px 0px 0px 0px;
   }

   &__season{
   }

   &__number{
      padding: 20px 0px 0px 0px;
   }

   &__series{
      display: flex;
      padding: 10px 0px 0px 0px;
   }

   &__ser{
      border: 2px solid #fff;
      height: 20px;
      width: 40px;
      text-align: center;
      line-height: 20px;
      margin: 0px 10px 0px 0px;
      cursor: pointer;
      position: relative;
      &:hover{
         .seasons__hover{
            opacity: 1;
         }
      }
   }

   &__hover{
      position: absolute;
      left: 0;
      width: 500px;
      opacity: 0;
      z-index: 100;
      background-color: #363636;
      transition-duration: 0.3s;
      padding: 10px;
      &-wrapper{
      }

      &-title{}

      &-descr{}
   }

}